# requirements.txt
# Core data manipulation and analysis libraries

numpy
pandas
matplotlib
seaborn
scikit-learn

# For web scraping mobile app reviews
# google-play-scraper is a popular choice for this
google-play-scraper==1.2.6

# For testing
pytest==8.2.1

#NLP libraries
transformers==4.52.4
torch==2.7.1
spacy